@import url('https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Zen Dots', cursive;
}
input:focus-visible{
    outline: 0;
}
.main{
    background-color: #9c88ff;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box{
    width: 400px;
    padding: 10px;
    background-color: rgb(101, 101, 216);
    box-shadow: 0 5px 10px rgb(0 0 0 / 50%);
    border-radius: 5px;
    margin-top: 10px;
}
#pass-box{
    width:100%;
    background-color: white;
    color: chocolate;
    font-size: 30px;
    display: block;
    padding: 10px;
    border-radius: 4px;
}
.row{
    width: 100%;
    font-size: 20px;
    display: flex;
    margin-top: 10px;
    justify-content: space-between;
}
#btn{
    width: 100%;
    font-size: 20px;
    outline: 0;
    border: 0;
    padding: 10px;
    background-color: #34495e;
    color: white;
    margin-top: 10px;
    border-radius: 5px;
}
